In [4]:
### Load in necessary libraries for data input and normalization
# Wi th inline backend, the output of plotting commands is displayed inline 
# within frontends directly below the code cell that produced it.
# The resulting plots will then also be stored in the notebook document.
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from my_answers import *

Using TensorFlow backend.

In [8]:
dataset = pd.read_csv('datasets/apple_prices.csv',header=None)

In [11]:
from sklearn.preprocessing import MinMaxScaler
dataset.head()
scaler = MinMaxScaler()
scaler.fit(dataset)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [17]:
print(scaler.data_max_)
print(scaler.data_min_)

[699.349976]
[370.400024]

In [13]:
normalized_dataset = scaler.transform(dataset)

In [19]:
#pd.DataFrame(normalized_dataset)
tmp = (590.14-370.400024)/(699.349976-370.400024)
print(tmp)

0.6680042804809408

In [20]:
pd.DataFrame(normalized_dataset)

            0
0    0.668004
1    0.615291
2    0.471014
3    0.460556
4    0.479161
5    0.513239
6    0.510777
7    0.478188
8    0.480195
9    0.465177
10   0.464356
11   0.533820
12   0.450707
13   0.401915
14   0.546192
15   0.518589
16   0.484907
17   0.507828
18   0.568658
19   0.600699
20   0.561240
21   0.579115
22   0.570299
23   0.457881
24   0.469950
25   0.454750
26   0.458124
27   0.482262
28   0.429761
29   0.363064
..        ...
108  0.777413
109  0.703542
110  0.697340
111  0.693023
112  0.542879
113  0.532057
114  0.458763
115  0.414896
116  0.392552
117  0.267457
118  0.228941
119  0.158899
120  0.163551
121  0.167503
122  0.118559
123  0.099407
124  0.036692
125  0.064691
126  0.070193
127  0.005928
128  0.000000
129  0.039884
130  0.089710
131  0.097340
132  0.078370
133  0.156072
134  0.026417
135  0.030308
136  0.089558
137  0.149688

[138 rows x 1 columns]